* {
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}


#top {
    padding: 0px;
    margin: 0px;
    width: 100%;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    opacity: 1;
    z-index: 5;
}

#red{
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    margin-top: 80px;
    margin-left: 225px;
    height: 40vh;
    width: 66vw;
    background-color: red;
}

#brown {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 225px;
    height: 40vh;
    width: 66vw;
    background-color: brown;
}

#imgDiv{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 40vw;
    top: 28vh;
}

#img{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    border: 20px;
    border-color: aquamarine;
    z-index: 5;
}

#home, #favourites {
    text-decoration: none;
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 40px;
    color: white;
}

.tempBanner {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    top: 30px;
    right: 41vw;
    background-color: green;
    color: white;
    height: 50px;
    width: 200px;
}