* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a143c;
}


#top {
    padding: 0px;
    margin: 0px;
    width: 100%;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    opacity: 1;
    z-index: 5;
}

#red {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 120px;
    margin-left: 225px;
    height: 39vh;
    width: 66vw;
    background-color: #d71231;
}

#brown {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 225px;
    height: 39vh;
    width: 66vw;
    background-color: #131313;
}

#imgDiv {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 40vw;
    top: 35vh;
}

nav {
    display: flex;
    align-items: center;
}

#img {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    border: 5px solid #131313;
    z-index: 5;
}

#home, #favourites {
    text-decoration: none;
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    color: white;
}

.tempBanner {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    top: 70px;
    right: 41vw;
    background-color: green;
    color: white;
    height: 50px;
    width: 200px;
}

#like:hover {
    cursor: pointer;
    transform: scale(1.5)
}

#heading {
    color: white;
    font-style: italic;

}

#tvshow {
    color: white;
    font-size: 60px;
    margin-left: 10px;
    font-style: italic;
}