* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a143c;
}

#top {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    opacity: 1;
    z-index: 5;
}

#home,
#favourites {
    text-decoration: none;
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    color: white;
}

.tempBanner {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    top: 70px;
    right: 40vw;
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
}

#main {
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: black;
    width: 300px;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
    width: 300px;
}

.title {
    text-align: center;
    color: white;
    height: 50px;
}

.like {
    padding: auto;
    margin: auto;
    font-size: 30px;
    padding-bottom: 10px;
}

.like:hover {
    cursor: pointer;
    transform: scale(1.5)
}

.details {
    text-align: center;
    align-self: center;
    text-decoration: none;
    width: 100px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;

}

.details:hover{
    background-color: white;
    color: black;
}

#tvshow {
    color: white;
    font-size: 60px;
    font-style: italic;
}
nav {
    display: flex;
    align-items: center;
}