* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#top{
    padding: 0px;
    margin: 0px;
    width: 100%;;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgba(181, 19, 126, 0.8);
    z-index: 5;
}

nav{
    display: flex;
    align-items: center;

}

#tvshow{
    color: white;
    font-size: 60px;
    font-style: italic;
}

#home, #favourites{
    text-decoration: none;
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    color: white;
}

#middle{
    display: flex; 
   align-items: center;
   justify-content: center;
}

#searchBox{
    margin-top: 250px;
    border-radius: 10px;
    background-color: cadetblue;
    opacity: 0.75;
    height: 40px;
    width: 500px;
}

#end{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 10px;
}

.textDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details{
    background-color: rgb(78, 18, 18);
    opacity: 0.8;
    color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}
.details:hover{
    background-color: white;
    color: black;
}

.fav{
    background-color: red;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}
.fav:hover{
    background-color: white;
    color: black;
}
.title{
    text-align: left;
    margin-left: 20px;
    color: white;
}

.tempBanner{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    top: 30px;
    right: 40vw;
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
}